{% extends '_base.html' %}


{% block content %}
<h2 style="text-align:center">Welcome To <span id="W_Name1">Anonymous</span></h2>
<p><span id="W_Name2">Anonymous</span> is a Professional <span id="W_Type1">Anonymous messaging</span> Platform. Here we
    will provide you only interesting content, which you will like very much. We're dedicated to providing you the best.<span id="W_Type2"></span>, with a focus on Security, Accessibility, dependability and <span id="W_Spec">Aononymity
       </span>. We hope you enjoy our <span
        id="W_Type4">Anonymous messaging</span> as much as we enjoy offering them to you.</p>
<p> Please give your support and love.</p>
<p style="font-weight:700;text-align:center">Thanks For Visiting Our Site<br><br><span
        style="color:rgb(25, 25, 27);font-size:16px;font-weight:700;text-align:center">Have a nice day !</span></p>
{% endblock content %}