
{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-6">
            <div class="p-4 p-md-6 border rounded-3 bg-light">
                <div class="form-floating mb-3">
                    <h2 class="h1-responsive font-weight-bold text-center">Send Message</h2>
                    <p class='text-center'>👇👇 Send an Anonymous message for your friend.</p>
                    <hr class="my-3">
                    <form class="form-group" method="post">
                        {% csrf_token %}

                            <div class="input-group mb-3">
                            <textarea class="form-control rounded-0" placeholder="Leave a message for {{user}} here." maxlength="100" minlength="10" id="answer" name='message' onkeypress="return taLimit(this)" onkeyup="return taCount(this,'myCounter')" required="True" rows="4"></textarea>
                          </div>
                        <button class="btn btn-primary">Send Message</button>
                        <hr class="my-4">
                        
                         <p class="text-danger font-weight-bold"><span id="myCounter" style="font-color:white;">100</span></b> characters remaining.</p>
                         <p>Say what do you think about afeezco or Leave a feedback for {{user}} anonymously using the form above.. 🥰
                            Thank You!! 😍😊 </p>
                         <small class="text-muted">By using this service, you agree to our Privacy Policy and Terms of Service.</small>
                         
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('textarea').maxlength({
              alwaysShow: true,
            threshold: 10,
            warningClass: "label label-success",
            limitReachedClass: "label label-danger",
            separator: ' out of ',
            preText: ' ',
            postText: ' chars.',
            validate: true
        });
  </script>
  <script language = "Javascript">
	maxL=100;
	var bName = navigator.appName;
	function taLimit(taObj) {
		if (taObj.value.length==maxL) return false;
		return true;
	}	function taCount(taObj,Cnt) {
		objCnt=createObject(Cnt);
		objVal=taObj.value;
		if (objVal.length>maxL) objVal=objVal.substring(0,maxL);
		if (objCnt) {
			if(bName == "Netscape"){
				objCnt.textContent=maxL-objVal.length;}
			else{objCnt.innerText=maxL-objVal.length;}
		}
		return true;
	}	function createObject(objId) {
		if (document.getElementById) return document.getElementById(objId);
		else if (document.layers) return eval("document." + objId);
		else if (document.all) return eval("document.all." + objId);
		else return eval("document." + objId);
	}
	</script>
{% endblock content %}
