{% extends '_base.html' %}
{% load static %}

<title>{% block title %}
    Home page
{% endblock title %}</title>

{% block content %}
{% block header %}
{% include 'header.html' %}
{% endblock header %}
<hr>
<!-- Section: Features v.3 -->
<div class="container">
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Why you should try us?</h2>
    <!-- Section description -->
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Grid row -->
        <div class="row mb-3">
  
          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3"> Safety & Security</h5>
            <p class="grey-text">We take the security of our users very important. you can report any abnormality ASAP.</p>
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
        <!-- Grid row -->
        <div class="row mb-3">
  
          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3"> Anonymity</h5>
            <p class="grey-text">This Platform ensures the anonymity of senders. You are anonymous until you ever choose to reveal your identity.</p>
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
        <!--Grid row-->
        <div class="row">
  
          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3"> Free</h5>
            <p class="grey-text mb-0">This web application is free for life.</p>
          </div>
          <!-- Grid column -->
  
        </div>
        <!--Grid row-->
  
      </div>
      <!--Grid column-->
  
    </div>
    <!-- Grid row -->
  
  </section>
  </div>
  <!-- Section: Features v.3 -->


  
{% endblock content %}


We are constantly working on Kubool as a platform to make it as user friendly as possible. As of now you can just download our app, fill in your username & pass to get started.