{% extends '_base.html' %}


{% block content %}

{% if request.user == message_user  %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-6">
            <div class="p-4 p-md-6 border rounded-3 bg-light">
                <div class="form-floating mb-3">
                    <h2 class="h1-responsive font-weight-bold text-center">My Messages</h2>
                    <p class='text-center'>👇 Scroll 👇 down to check out the messages that you have received.</p>
                    <hr class="my-3">
                    {% if not all_messages %}
                    <h6 class="grey-text text-center">
                        <i class="fas fa-share fa-lg indigo-text"></i>
                        Oops! 😅 No one has sent you a message in last 3 Days! Share your profile link and check back
                        later again!
                    </h6>
                    {% endif %}
                    {% for message in all_messages %}
                    <div class="row mb-3">
                        <!-- Grid column -->
                        <div class="col-1">
                            <i class="fas fa-user-edit"></i>
                            <!-- <i class="fas fa-share fa-lg indigo-text"></i> -->
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-xl-10 col-md-11 col-10">
                            <h6 class="font-weight-bold mb-0"> Anonymous</h6>
                            <p class="grey-text">{{message.text}}<br>
                                <small class='text-small mb-0'>[{{message.created}}]</small>
                            </p>

                            <nav aria-label="Pagination example">
                                <ul class="pagination pagination-sm">
                                  <li class="page-item"><a class="btn-link page-link" href="{% url 'spam' message.id %}"><i class="fas fa-ban"></i> Spam</a></li>
                                  <li class="page-item"><a class="btn-link page-link" href="{% url 'delete' message.id %}"><i class="fas fa-trash-alt"></i> Delete</a></li>
                                </ul>
                              </nav>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <hr>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
{% else %}
{% include 'add_message.html' %}
{% endif %}
{% endblock content %}